element.style {
    overflow: hidden;
}
:root {
    --link-color: #e6ebff;
}
html, body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, a, button, i, input {
    -webkit-font-smoothing: antialiased;
}
*, :active, :focus, :hover {
    outline: 0!important;
    -webkit-tap-highlight-color: transparent!important;
}
*, :active, :focus, :hover {
    outline: 0!important;
    -webkit-tap-highlight-color: transparent!important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
html {
    display: block;
    color: -internal-root-color;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}